<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <!--WCF Service Json Return START-->
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <!--WCF Service Json Return END-->
    </behaviors>
    <!--WCF Service Json Return START-->
    <bindings>
      <webHttpBinding>
        <binding name="httpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <endpoint address="" binding="webHttpBinding" contract="IService" behaviorConfiguration="EndpointBehavior" bindingConfiguration="httpBinding"/>
      </service>
    </services>
    <!--WCF Service Json Return END-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="MEDMNG_DBF" connectionString="Server=127.0.0.1;Database=MEDMNG_DBF;User Id=sa;Password=kahitano;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows"/>
    <authorization>
      <allow users="LAPTOP-OF1H5OC5\johph"/>
      <!-- <deny users="*"/> -->
    </authorization>
  </system.web>
</configuration>